{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 5 with BackEnd</title>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="nav">
		<a class="kembali" href="/">
			<p class="kembali">Kembali ke halaman awal</p>
		</a>
	</div>
    <div class="HitamBackground" >
        <div class="container">
            <div class="row putihBelakang">
                <div class="col">
					<div class="title">
						<h1>MASUKKAN JADWAL KALIAN</h1>
					</div>
                    <div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ formulir }}
                            <div class="centre-items" style="margin-top: 2%">
                                <input type="submit" class="btn btn-primary" value="Tambah Jadwal">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
   <div>
        <div class="container">
            {% for sc in schedule %}
            <div class="row">
                <div class="col">
                    <div class="jadwal_yang_ada">
                        <div>
                            <p>{{ sc.hari }}, {{ sc.tanggal }}. {{ sc.jam }} WIB</p>
                        </div>
                        <p>{{ sc.namaKegiatan }} - {{ sc.tempat }} - {{ sc.kategori }}</p>
                        <a href="{% url 'delete' pk=sc.pk %}"><button class="btn btn-icon btn-danger" ><i class="fa fa-trash"></i>Sudah Selesai</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
   </div>
</body>
</html>
