html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Advent Pro', sans-serif;
}

.navbar {
    background-color: transparent!important;
}

.nav-link {
    color: white!important;
    width: 100%!important;
}

.navbar-toggler {
    background-color: white!important;
}

.navbar-brand {
    color: white!important;
    margin-right: 55vw!important;
}

.HitamBackground {
    background-color: black;
}
.PutihTulisanUtama {
    color: white;
    font-size: 3vw;
    margin: 0;
}

.col {
    display: flex!important;
    justify-content: center!important;
    align-items: center;
}

.col img {
    width: 80%!important;
    height: auto!important;
    margin: 25% auto !important;
}

.hire {
    text-align: center;
    font-size: 1vw;
    border: 1px solid white;
    padding: 5px;
    margin-top: 3%!important;
    width: 30%!important;
    height: auto!important;
    color: white;
}

.hire:hover{
    background-color: white;
    color: black;
}

.PutihTulisan {
    color: white;
    font-size: 2vw;
}

.HitamTulisan {
    color: black;
    font-size: 2vw;
}

.logo img {
    width: 20%!important;
    height: auto!important;
    margin-left: 15%!important;
    margin-right: auto!important;
    margin-bottom: 0%!important;
}

.HitamBackground .col a {
    color: white;
}

.col a {
    color: black;
}

.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbarBawah {
    font-size: 2vw;
}
