body {
	font-family: "Advent-Pro";
}
.HitamBackground {
    background-color: black;
    padding: 4%;
}

.putihBelakang {
    background-color: white;
    border-radius: 100px;
    padding: 5%;
}

.jadwal_yang_ada {
    margin-top: 2%;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.kembali {
	color: white;
	margin: 0;
}

.title {
	text-align: center;
}
.nav {
	background-color: black;
}
