{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 3</title>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Pendidikan</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <img src="{% static 'hanifah.jpeg' %}" alt="" class="hanifah">
            </div>
            <div class="col desc">
              <p><b>TK Hanifah</b><br>Tahun : 2004-2006<br> Prestasi : Juara 1 Menangkap Ikan Se-Pamulang
              </p>
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <img src="{% static 'uin.png' %}" alt="" class="uin">
              </div>
              <div class="col desc">
                <p><b>Madrasah Ibtidaiyah</b><br>Tahun : 2006 - 2012<br>Prestasi : Peraih Nilai Ujian Nasional Tertinggi Ke-3 
                </p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{% static '85.png' %}" alt="" class="delapanLima">
                </div>
                <div class="col desc">
                  <p><b>SMP Negeri 85 Jakarta</b><br>Tahun : 2012 - 2015<br>Prestasi : -
                  </p>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <img src="{% static '66.jpg' %}" alt="" class="enamEnam">
                  </div>
                  <div class="col desc">
                    <p><b>SMA Negeri 66 Jakarta</b><br>Tahun : 2015 - 2018<br>Prestasi : Ranking 7 Paralel di Angkatan
                    </p>
                  </div>
                </div>
              <div class="row">
                  <div class="col">
                      <img src="{% static 'fasilkom.png' %}" alt="" class="fasilkom">
                  </div>
                  <div class="col desc">
                    <p>
                      <b>Fasilkom UI 2018</b><br>Tahun : 2018 - 2022 (Insya Allah 4 Tahun)<br>Prestasi : -
                    </p>
                  </div>
                </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <a href="/" class="navbarBawah">Kembali ke Halaman Awal</a>
            </div>
          </div>
        </div>
      </div>
</body>
</html>