{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 4 with Django</title>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="HitamBackground" id="Home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="https://www.cs.ui.ac.id/?lang=en"><img src="{% static 'fasilkomKecil.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="anotherpage/">Halaman Lain</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="jadwal/">Jadwal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Tentang">Tentang</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Portofolio">Portofolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Pengalaman">Pengalaman</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Kontak">Kontak</a>
                  </li>
              </ul>
            </div>
          </nav>
          <div class="container">
            <div class="row">
              <div class="col">
                <div>
                  <p class="PutihTulisanUtama">Muhammad Luthfi Idrus</p>
                  <p class="PutihTulisanUtama" style="font-size: 2vw">Ilmu Komputer - Universitas Indonesia</p>
                  <div class="hire">PEKERJAKAN SAYA HARI INI</div>
                </div>
              </div>
              <div class="col">
                <img src="{% static 'codingGif.gif' %}" alt="">
              </div>
            </div>
          </div>
    </div>

    <div id="Tentang">
      <div class="container">
        <div class="row">
          <div class="col">
              <img src="{% static 'AVA-removebg-preview.png' %}" alt="">
          </div>
          <div class="col">
            <p class="HitamTulisan"><b>Tentang Saya,</b><br><br>Halo, nama saya Muhammad Luthfi Idrus. Kalian bisa panggil saya Luthfi atau Upi.
            Saya lahir di Jakarta pada tanggal 16 Desember 2000. Saya sekarang berkuliah di Universitas Indonesia
            jurusan Ilmu Komputer. Saya masuk Universitas Indonesia pada tahun 2018. Hobi yang saya tekuni adalah Fotografi, 
            Videografi, Coding, dan bermain Game.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="navbarBawah"><a href="#Home">Utama</a> / <a href="#Portofolio">Portofolio</a> / <a href="#Pengalaman">Pengalaman</a> / <a href="#Kontak">Kontak</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="HitamBackground" id="Portofolio">
      <div class="container">
          <div class="row">
            <div class="col">
              <div class="PutihTulisan">
                <div>
                  <p><b>Portofolio</b><br><br>Saya sudah pernah bekerja selagi saya kuliah. Jika kalian ingin melihat hasil
                  kerja saya, kalian dapat mengakses link berikut dengan <i>click</i> logo dibawah ini</p>
                  <div class="logo">
                    <a href="https://drive.google.com/drive/folders/1qaYbh2HenRM9fXm8T34dVhNQkSO5Oi2b?usp=sharing"><img src="{% static 'gdrive.png' %}" alt=""></a>
                    <a href="https://gitlab.com/luthfiidrus"><img src="{% static 'gitlab.svg' %}" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <img src="{% static 'kerja.jpg' %}" alt="" class="rotateimg90">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col" style="color: white">
              <p class="navbarBawah"><a href="#Home">Utama</a> / <a href="#Tentang">Tentang</a> / <a href="#Pengalaman">Pengalaman</a> / <a href="#Kontak">Kontak</a></p>
            </div>
          </div>
        </div>
    </div>

    <div id="Pengalaman">
      <div class="container">
        <div class="row">
          <div class="col">
              <img src="{% static 'piala.png' %}" alt="">
          </div>
          <div class="col">
            <p class="HitamTulisan"><b>Pengalaman Kerja :</b><br><br>1. Sebagai Fotografer dan Videografer (sampai sekarang)<br>
            2. TBA <br><br>
            <b>Pengalaman Berorganisasi & Kepanitiaan :</b><br><br>1. <a href="https://isafis.or.id">ISAFIS</a> (Indonesian Student Association for
            International Studies)<br>2. Wakil Kepala Divisi Humas <a href="http://dpm.cs.ui.ac.id/">DPM Fasilkom</a> 2019<br>3. Staff Dokumentasi <a href="https://www.instagram.com/olim.ui/">Olimpiade UI</a>
             2018</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
              <p class="navbarBawah"><a href="#Home">Utama</a> / <a href="#Tentang">Tentang</a> / <a href="#Portofolio">Portofolio</a> / <a href="#Kontak">Kontak</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="HitamBackground" id="Kontak">
      <div class="container">
          <div class="row">
            <div class="col">
              <div class="PutihTulisan">
                <div>
                  <p><b>Kontak Saya!</b><br><br>Jika Anda membutuhkan sesuatu dari saya, Anda dapat menghubungi saya melalui
                  akun-akun saya dibawah ini:<br><br>Whatsapp : +628111502991<br>Instagram : @luthfiidrus<br>
                  Facebook : Luthfi Idrus</p>
                  <div class="logo">
                    <a href="https://www.instagram.com/luthfiidrus/"><img src="{% static 'insta.png' %}" alt=""></a>
                    <a href="https://www.facebook.com/luthfi.idrus.9"><img src="{% static 'facebook.png' %}" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <img src="{% static 'kontak.png' %}" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col" style="color: white">
                <p class="navbarBawah"><a href="#Home">Utama</a> / <a href="#Tentang">Tentang</a> / <a href="#Portofolio">Portofolio</a> / <a href="#Pengalaman">Pengalaman</a></p>
            </div>
          </div>
        </div>
    </div>
</body>
</html>